<launch>
  <include file="$(find building_mapper)/launch/jackal.launch" />

  <node pkg="building_mapper" name="jackal_move" type="jackal_move.py"  output="screen" required="true"/>

  <!-- <node pkg="building_mapper" name="wall_avoid" type="wall_avoid.py" output="screen" required="true"/> -->

  <node pkg="rosbag" type="record" name="explore_bag" args="-O $(find building_mapper)/rosbag/rosbag /scan /tf" />

</launch>
