<launch>
  <include file="$(find jackal_description)/launch/description.launch">
    <arg name="config" value="base" />
  </include>

  <include file="$(find jackal_control)/launch/control.launch" />

  <param name="use_gui" value="true"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find building_mapper)/rviz/view_robot.rviz" />
</launch>
